/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@13.0.3_react-dom@18.2.0+react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[15].use[2]!./node_modules/.pnpm/next@13.0.3_react-dom@18.2.0+react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[15].use[3]!./styles/main.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.3rem;
}

::-webkit-scrollbar-button {
  background-color: #666;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 3px;
}

::-webkit-scrollbar-track-piece {
  background-color: #000;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #0e0e0e;
  color: white;
  font-size: 1.6rem;
}

a {
  color: white;
  text-decoration: none;
}

/*Header*/
header ul,
header ol {
  list-style: none;
}
header .container {
  background: #141313;
}
header .nav-item a::before {
  content: "0" counter(item) ".";
  margin-right: 0.5rem;
  color: rgb(3, 224, 224);
  text-align: right;
}
header .nav-item a:hover {
  color: rgb(3, 224, 224);
}
header .nav-link {
  transition: 0.5s ease;
}
header .nav-button {
  color: rgb(3, 224, 224);
  border-radius: 0.4rem;
  border: 0.1rem solid rgb(3, 224, 224);
  padding: 0.75rem 1rem;
}
header .nav-button:hover {
  opacity: 0.7;
  background-color: transparent;
  transition: 0.2s ease-in-out;
}

/*Navigation*/
.nav-main {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.7rem;
  width: 85vw;
  margin: 0 auto;
}
.nav-main ol {
  display: flex;
}
.nav-main ol li {
  counter-increment: item 1;
  padding: 1vw;
  margin: 0 0.4rem;
}
.nav-main ul.nav-menu {
  flex: 1 1;
  margin-left: 2rem;
}
.nav-main #icon-home {
  font-size: 3.2rem;
  color: rgb(3, 224, 224);
}
.nav-main #hamburguer {
    display: none;
    cursor: pointer;
  }
.nav-main .bar {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.5rem auto;
  transition: all 0.3s ease-in-out;
  background-color: rgb(3, 224, 224);
}

main .about {
  padding: 3rem 0 0;
  width: 85vw;
  margin: 0 auto;
  min-height: 60rem;
}
main .about .about-title h1 {
  font-size: 4rem;
  font-weight: 800;
  margin: 2.5rem 0;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, aqua, #1d29c9);
}
main .about .about-main {
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  gap: 2rem;
}
main .about .about-main .about-info {
  flex-basis: 40rem;
  flex-grow: 9;
}
main .about .about-main .about-info p {
  margin: 1rem 0;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
main .about .about-main .about-contact {
  padding: 2rem 0;
  flex-basis: 35rem;
  flex-grow: 1;
  max-height: 30rem;
}
main .about .about-main .about-contact .contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-auto-rows: 12rem;
  grid-gap: 2rem;
  gap: 2rem;
}
main .about .about-main .about-contact .contact-container .card {
  border-radius: 0.8rem;
  border-style: solid;
  border-color: #171717;
  padding: 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
}
main .about .about-main .about-contact .contact-container .card:hover {
  transform: translateX(0) scale(1.03);
}
main .about .about-main .about-contact .contact-container .card svg {
  font-size: 5.2rem;
}
main .about .about-main .about-contact .contact-container .card img {
  width: 4rem;
}
main .about .about-main .about-contact .contact-container .linkedin {
  background-color: #0072b1;
}
main .about .about-main .about-contact .contact-container .twitter {
  background-color: #00acee;
}
main .about .about-main .about-contact .contact-container .github {
  background-color: #000;
}
main .about .about-main .about-contact .contact-container .frontend {
  background-color: #1ed760;
}
main .about .about-main .lista-habilidades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem 3rem;
  list-style: none;
}
main .about .about-main .lista-habilidades li {
  font-size: 1.8rem;
  color: white;
  line-height: 2.4rem;
}
main .about .about-main .lista-habilidades li::before {
  content: "-> ";
  color: rgb(3, 224, 224);
}

/*Section proyectos*/
.proyectos {
  padding: 0 0 6rem;
  margin: 0 auto;
  background: #0e0e0e;
}
.proyectos h1 {
  font-size: 3.4rem;
  font-weight: 700;
  margin: 1.5rem auto 2.5rem;
  color: white;
  width: 85vw;
}
.proyectos .proyectos-main {
  display: grid;
  width: 85vw;
  grid-gap: 3rem;
  gap: 3rem;
  grid-auto-rows: 35rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  margin: 1rem auto;
}

.card-container {
  background: #171717;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card-container:hover {
  transform: translateX(0) scale(1.03);
}
.card-container img {
  border-radius: 0.4rem 0.4rem 0 0;
  background-size: contain;
  width: 100%;
  min-height: 15rem;
  height: auto;
}
.card-container h2 {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  font-weight: 700;
}
.card-container a {
  padding: 1rem 0;
  color: #f2f2f2;
  text-transform: uppercase;
  font-weight: bold;
}
.card-container a:hover {
  text-decoration: underline;
}
.card-container .card-body {
  padding: 0.5rem 0.7rem;
}
.card-container .card-body h2 {
  display: flex;
  justify-content: start;
  margin: 1rem 0 0.5rem 0;
}
.card-container .card-body p {
  color: rgb(107, 114, 128);
  font-size: 1.4rem;
}
.card-container .detail {
  background-color: #27272a;
  padding: 0.25rem 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.card-container .detail .detail-date {
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  background-color: #3f3f46;
  border-radius: 0.3rem;
}
.card-container .detail .html-icon {
  color: #ffa500;
}
.card-container .detail .css-icon {
  color: #0072b1;
}
.card-container .detail .js-icon {
  color: yellow;
}
.card-container .detail .sass-icon {
  color: red;
}
.card-container .detail .vue-icon {
  color: #1ed760;
}
.card-container .detail .react-icon {
  color: #00acee;
}
.card-container .detail svg {
  font-size: 2.5rem;
  margin: 0 0.5rem;
}

/*Footer*/
footer {
  padding: 1.5rem 7vw;
  margin: 0 auto;
  background: #141313;
  justify-content: center;
}
footer ul,
footer ol {
  list-style: none;
}
footer .footer-container {
  display: grid;
  align-items: center;
  justify-content: center;
}
footer .footer-container ul {
  display: flex;
  justify-content: center;
}
footer .footer-container ul li {
  padding: 1rem 2rem 2rem 2rem;
}
footer .footer-container .icons-footer {
  font-size: 4rem;
}
footer .footer-container .footer-text {
  padding: 1rem 2rem 4rem 2rem;
}
/*media querie*/
@media (max-width: 768px) {
  .nav-main #hamburger {
    display: block;
  } 
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(0.8rem) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.8rem) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 7.7rem;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 3.4rem;
    gap: 3.4rem;
    font-size: 2.4rem;
  }
  .nav-menu .nav-link {
    margin: 1.6rem 0;
  }
  .nav-menu.active {
    left: 0;
  }
}

/*# sourceMappingURL=main.css.map */

