:root{
  --color: aqua;
  --color-bg:#1d1d1d;
  --color-bg2:#1bb09b;
  --color-bg3:#0d7265;
  --navbar-height: 7.7rem;
  --navbar-bg:#141313;
}

html {
  font-family: "Open Sans",sans-serif;
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: var(--color-bg);
  color: white;
  font-size: 1.6rem;
}
a {
  color: white;
  text-decoration: none;
}

header ul,ol{
  list-style: none;
}

/*Header*/

/*Navigation*/
#icono-N{
  font-size: 3.8rem;
  color: var(--color);
}
.nav-main {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
  background: var(--navbar-bg);
  padding: 0 6vw;
  margin: 0 auto;
}
.nav-main ol{
  display: flex;
}
.nav-main ol li{
  counter-increment: item 1;
  padding: 1vw;
}

header .nav-item a::before{
  content: "0" counter(item) ".";
  margin-right: 0.5rem;
  color: var(--color);
  text-align: right;
}
header .nav-item a:hover {
  color: aqua;
}
header .nav-link {
  transition: 0.5s ease;
}

header .nav-main ul.nav-menu {
  flex: 1;
  margin-left: 2rem;
}
header .nav-button{
  color: var(--color);
  border-radius: 0.4rem;
  border: 0.1rem solid var(--color);
  padding: 0.75rem 1rem;
}
header .nav-button:hover{
  opacity: 0.7;
  background-color: transparent;
  transition: 0.2s ease-in-out;
}
/*icono hamburguesa barra de navegacion*/
.hamburger{
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.5rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/*Main*/
/*Section info*/
main .about{
  padding: 2rem 7vw 5rem 6vw;
  margin: 0 auto;
  min-height: 60rem;
}
main .about h1{
  font-size: 3.8rem;
  margin: 1.5rem 0;
}
.about span{
  color: var(--color);
}
main .about-main{
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}
main .about-image{
  flex-basis: 30rem;
  flex-grow: 1;
  max-width: 30rem;
  max-height: 30rem;
  border: 0.7rem solid black;
}
main .about-image img{
  background-size: contain;
  width: 100%;
  height: 100%;
}
main .about-info{
  flex-basis: 45rem;
  flex-grow: 9;
}

main .about-info p{
  margin: 1rem 0;
  font-size: 2.2rem;
}
main .about-main .lista-habilidades{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem 3rem;
  color: var(--color);
} 
main .lista-habilidades li{
  font-size: 2rem;
}


/*Section proyectos*/
.proyectos{
  padding: 2rem 7vw 5rem 6vw;
  margin: 0 auto;
  background: #1bb09b;
}
.proyectos h1{
  font-size: 3.8rem;
  font-weight: 800;
  margin: 1.5rem 0;
  color: #333333;
}
.proyectos-main {
  display: grid;
  gap: 2.7rem;
  grid-auto-rows: 35rem;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  margin: 1rem 0;
}
.card-container{
  display: grid;
  background: var(--color-bg);
  border-radius: 0.4rem;
}

.card-container img{
  border-radius: 0.4rem 0.4rem 0 0;
  background-size: contain;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.card-body{
  padding: 0.6rem;
}
.card-container h3{
  font-size: 2rem;
  margin-top: 0.5rem;
}

.card-container a{
  padding: 1rem 0;
  color: #f2f2f2;
  text-transform: uppercase;
  font-weight: bold;
}
.card-container a:hover{
  text-decoration: underline;
}


/*Seccion de Contacto*/
.contacto{
  padding: 2rem 7vw 5rem 6vw;
  margin: 0 auto;
}
.contacto h1{
  font-size: 4rem;
  font-weight: 800;
  margin: 2.3rem 0;
  text-align: center;
}
.contact-container{
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
}
.contact-container ul,ol{
  list-style: none;
}
.contact-container > * {
  padding: 1rem;
}
.contact-container .contact-form{
  flex-grow: 9;
  flex-basis: 55rem;
  background: #222222;
  padding: 3.2rem 4rem;
  border-radius: 1rem;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}
.contact-form form .block{
  grid-column: 1 / 3;
}

.contact-form form p{
  margin: 0;
  padding: 1rem;
}

.contact-form form input,
.contact-form form textarea{
  width: 100%;
  padding: 0.8rem;
  border: none;
  outline: none;
  color: #fff;
  background: none;
  border-bottom: 0.1rem solid var(--color-bg2);
}

.contact-form form button{
  padding: 1rem;
  border: none;
  color: #fff;
  width: 100%;
  background: var(--color-bg2);
  text-transform: uppercase;
}
.contact-form form button:hover,
.contact-form form button:focus{
  background: var(--color-bg3);
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  outline: none;
}

/*Footer*/
footer{
  padding: 2rem 7vw 0 6vw;
  margin: 0 auto;
  background: var(--navbar-bg);
  justify-content: center;
}
footer ul,ol{
  list-style: none;
}
footer .footer-container{
  display: grid;
  align-items: center;
  justify-content: center;
}
.footer-container ul{
  display: flex;
  justify-content: center;
}
.footer-container ul li{
  padding: 1rem 2rem 2rem 2rem;
}
.icons-footer{
  font-size: 4rem;
}
.footer-text{
  padding: 1rem 2rem 4rem 2rem;
}

/*media querie*/
@media (max-width:768px) {
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(0.8rem) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-0.8rem) rotate(-45deg);
  }
  .nav-menu{
    position: fixed;
    left: -100%;
    top: var(--navbar-height);
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 3.4rem;
    gap: 3.4rem;
    font-size: 2.4rem;
  }

  .nav-link{
    margin: 1.6rem 0;
  }

  .nav-menu.active{
    left: 0;
  }
}