html {
  font-family: "Open Sans",sans-serif;
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #1d1d1d;
  color: white;
  font-size: 1.6rem;
}
a {
  color: white;
  text-decoration: none;
}

header ul{
  list-style: none;
}

/*Header*/

.container {
  width: 90%;
  margin: 0 auto;
}

/*Navigation*/
header .container .nav-main {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 2rem 0;
}
header .container .nav-main ul{
  display: flex;
}
header .container .nav-main ul li{
  padding: 2rem;
}
header .container .nav-main ul li a{
  padding: 0.2rem;
}
header .container .nav-main ul li a:hover {
  border-bottom: 0.2rem solid #ffffff ;
}
#icono-N{
  font-size: 3rem;
  color: red;
}

header .nav-main ul.nav-menu {
  flex: 1;
  margin-left: 2rem;
}

/*Main*/
/*Section info*/
main .about h1{
  font-size: 2.6rem;
  font-weight: 800;
  margin-top: 3rem;
}
main .about-main{
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}
main .about-image{
  flex-basis: 30rem;
  flex-grow: 1;
  max-width: 30rem;
  max-height: 30rem;
}
main .about-image img{
  background-size: contain;
  width: 100%;
  height: 100%;
}
main .about-info{
  flex-basis: 80rem;
  flex-grow: 999;
}

main .about-info p{
  margin: 1rem 0;
  font-size: 2rem;
}
main .about-info span{
  color: red;
}
main .about-main .lista-habilidades{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
} 
main .lista-habilidades li{
  font-size: 1.8rem;
}


/*Section proyectos*/
main .proyectos{
  margin-top: 5rem;
}
main .proyectos h1{
  font-size: 2.6rem;
  font-weight: 800;
  margin-top: 10vh;
}
main .proyectos .proyectos-main {
  display: grid;
  gap: 2.2rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  margin: 1rem 0;
}
main .card-container img{
  width: 100%;
  height: 90%;
}
main .card-container h3{
  font-size: 2rem;
  margin: 1rem 0;
}
main .card-container a{
  padding: 1rem 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}
main .card-container a:hover{
  text-decoration: underline;
}

